[
  {webRtp, []},

  {nksip,[
    %% Waiting time for a response when requesting an INVITE
    {sync_call_time, 20000}
    %%{service_idle_timeout, 6000}
  ]},

  {kernel,
    [
      %% Выбрал notice, чтобы не выводились Progress репорты
      {logger_level, notice},
      {logger,
      [{handler, default, logger_std_h,
        #{ formatter =>
         {logger_formatter, #{ template => [time," ", file,":",line," ",level,": ",msg,"\n"]}}}
      }]}
    ]},

  {sasl, [
    {sasl_error_logger, false}
  ]}
].

